**/downloads/
**/logs/
**/temp/
**/cache/
**/tmp/
**/build/
**/dist/
**/node_modules/
**/vendor/
**/dataset1
**/dataset2
**/dataset3
**/chatgpt
**/claude
**/claude2
**/dart*
**/**/.venv
**/.claude
**/.vscode
**/gaia_dataset
**/__pycache__
**/*.tar
qdrant_rag/.env


